<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineering Intern -- Apple Inc.</h1>
            <span><address>Sunnyvale, CA</address><time>June 2015 to January 2016</time></span>
        </header>
        <p>
	  Worked on the "CloudKit Application Engineering" team for the iCloud service. My work included (a) creating the prototype of a "push" style alternative
	  for our "poll" based messaging endpoint, (b) working directly with teammates to inherit and refactor a longstanding codebase, and (c) writing system jobs to
	  add and remove indexes in our backing database. Each required careful consideration of classic distributed systems challenges, and effective
	  communication between various teams within Apple.
	</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant</h1>
            <span><address>Rochester, NY</address><time>October 2014 - February 2015</time></span>
        </header>
        <p>
	  Worked with Professsor Minseok Kwon on the <a href="http://github.com/WillDignazio/hrfs">Hadoop Replicating Filesystem</a>. The goal of this research was
	  to ascertain the behaviour and performance improvements that could be made by dynamically changing the number of block replicas as the demand for a file increases.
	  My work with this project included the partial implementation of the filesystem itself, which needed to be interoperable with the popular Apache™ Hadoop® framework.
	  Part of contribution included provided practical advice regarding distributed filesystem design, which included using my experiences with consistent hash rings
	  in my previous employment.
	</p>
    </article>
    <article>
        <header>
            <h1>Member of Technical Staff -- Exablox</h1>
            <span><address>Sunnyvale, NY</address><time>Jun 2013 to January 2014</time></span>
        </header>
        <p>
	  I worked within the Filesystem Engineering team at Exablox, specifically with the performance group. My work included analying and optimizing code paths taken
	  within the proprietary filesystem Exablox had developed. This included designing and implementing a lockless hash table that the filesystem utilized for caching
	  on several operational layers. My work at Exablox also included using several metrics, including analysys of the Linux kernel write/read paths using
	  the <i>perf</i> utility.
	</p>
    </article>
</section>
