<section class="thirteen columns">
    <h1>Objective</h1>
    <article>
        <header>
            <h1>Full-Time Employment</h1>
        </header>
        <p>
	  I am currently looking for full-time employment as a software engineer, preferrably in the SF/Bay area. As I conclude my undergraduate education,
	  my intership experiences have built the skills necessary to excel. With skills ranging from distributed systems, web applications,
	  and filesystem design, I can provide a fresh perspective and unique input relevant to today's industry.
        </p>
    </article>
</section>
